BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 110

PointerAlignment: Left

PenaltyBreakBeforeFirstCallParameter: 0
PenaltyBreakOpenParenthesis: 0

# Function Settings
BreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BinPackParameters: AlwaysOnePerLine
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
BinPackArguments: false

InsertBraces: true

AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true

BreakBeforeTemplateCloser: false
BreakBeforeTernaryOperators: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      true
  AfterControlStatement: false
  AfterEnum:       true
  AfterExternBlock: true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      false
  BeforeLambdaBody: true
  BeforeWhile:     false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

AlignOperands: Align
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: true

AttributeMacros:
  - __global__
  - __device__
  - __host__
  - __shared__
  - __constant__
  - __restrict__
  - __forceinline__
  - __launch_bounds__